<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">

<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

  <style>
    body,
    html {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .status {
      overflow-x: auto;
      white-space: nowrap;
    }

    .status::-webkit-scrollbar {
    width: 0;
  }

    .container-fluid {
      height: 100%;
    }

    .container_ra{
      overflow-x: auto;
      white-space: nowrap;
    }

      .ra::-webkit-scrollbar {
    width: 0;
  }

    .rapprove::-webkit-scrollbar {
    width: 0;
  }
  </style>
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <!-- 1st column for logo and buttons -->
    <div th:replace="components/sidebar :: sidebar"></div>
    <!--    2nd column for the contents of the dashboard -->
    <div class="col bg_atlas_light d-flex flex-column align-items-end" style="height:100vh; width:100vh;">
      <div class="container mt-3" style="flex-grow: 1;">
        <div class="status" style="max-height: 170px; overflow-x: auto;">
          <div class="row flex-nowrap">
            <div class="col">
              <div class="card bg_atlas_primary text_color_background " style="width: 300px; height: 130px; margin-right: 2px;  ">
                <div class="card-body">
                  <h5 class="card-title text_color_secondary ">Total Paper/s:</h5>
                  <img src="images/totalPapers_icon.png" class="icon" style="position:Absolute; width: 60px; height: 60px; margin-left:200px;">
                  <p class="card-text text-center text_color_secondary">10</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card bg_atlas_primary text_color_background" style="width: 300px; height: 130px; margin-right: 2px;">
                <div class="card-body">
                  <h5 class="card-title text_color_secondary">Accepted Paper/s:</h5>
                  <img src="images/acceptedPaper_icon.png" class="icon" style="position:Absolute; width: 60px; height: 60px; margin-left:200px;">
                  <p class="card-text text-center text_color_secondary">5</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card bg_atlas_primary text_color_background" style="width: 300px; height: 130px; margin-right: 2px;">
                <div class="card-body">
                  <h5 class="card-title text_color_secondary">Rejected Paper/s:</h5>
                  <img src="images/rejectedPaper_icon.png" class="icon" style="position:Absolute; width: 60px; height: 60px; margin-left:200px;">
                  <p class="card-text text-center text_color_secondary">4</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card bg_atlas_primary text_color_background" style="width: 300px; height: 130px; margin-right: 2px;">
                <div class="card-body">
                  <h5 class="card-title text_color_secondary">Pending Paper/s:</h5>
                  <img src="images/pendingPaper_icon.png" class="icon" style="position:Absolute; width: 60px; height: 60px; margin-left:200px;">
                  <p class="card-text text-center text_color_secondary">1</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card bg_atlas_primary text_color_background" style="width: 300px; height: 130px; margin-right: 2px;">
                <div class="card-body">
                  <h5 class="card-title text_color_secondary">Published Paper/s:</h5>
                  <img src="images/publishedPaper_icon.png" class="icon" style="position:Absolute; width: 60px; height: 60px; margin-left:200px;">
                  <p class="card-text text-center text_color_secondary">3</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-1 pr-0">
            <div class="container-fluid bg_atlas_primary" style="height: 40px; width: 2px; "></div>
          </div>
          <div class="col">
            <h1 style="font-size: 25px;">Recently Accessed</h1>
          </div>
<!--  Cards for recently accessed        -->
        <div class=" row d-flex mt-3">
          <div class="ra" style="max-height: 170px; overflow-x: auto;">
            <div class="row flex-nowrap">
              <div class="col">
                <div class="card bg_atlas_background text_color"  style="width: 300px; height: 130px; margin-right: 2px; border-radius: 10px;">
                  <div class="card-body">
                    <h5 class="card-title text_color fw-bold " style="font-size: 22px;" >The impact of Covid-19</h5>
                    <p class="card-text  text_color"  style="font-size: 16px;">Authors: Marielle Zabala, Ryan Jay Acosta, Joricel Roldan</p>

                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card bg_atlas_background text_color" style="width: 300px; height: 130px; margin-right: 2px; border-radius: 10px;">
                  <div class="card-body">
                    <h5 class="card-title text_color fw-bold " style="font-size: 22px;" >The impact of Covid-19</h5>
                    <p class="card-text  text_color"  style="font-size: 16px;">Authors: Marielle Zabala, Ryan Jay Acosta, Joricel Roldan</p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card bg_atlas_background text_color" style="width: 300px; height: 130px; margin-right: 2px; border-radius: 10px;">
                  <div class="card-body">
                    <h5 class="card-title text_color fw-bold " style="font-size: 22px;" >The impact of Covid-19</h5>
                    <p class="card-text  text_color"  style="font-size: 16px;">Authors: Marielle Zabala, Ryan Jay Acosta, Joricel Roldan</p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card bg_atlas_background text_color" style="width: 300px; height: 130px; margin-right: 2px; border-radius: 10px;">
                  <div class="card-body">
                    <h5 class="card-title text_color fw-bold " style="font-size: 22px;" >The impact of Covid-19</h5>
                    <p class="card-text  text_color"  style="font-size: 16px;">Authors: Marielle Zabala, Ryan Jay Acosta, Joricel Roldan</p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card bg_atlas_background text_color" style="width: 300px; height: 130px; margin-right: 2px; border-radius: 10px;">
                  <div class="card-body">
                    <h5 class="card-title text_color fw-bold " style="font-size: 22px;" >The impact of Covid-19</h5>
                    <p class="card-text  text_color"  style="font-size: 16px;">Authors: Marielle Zabala, Ryan Jay Acosta, Joricel Roldan</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
 <!--  end of Cards for recently accessed -->
          <div class="row mt-5">
            <div class="col-1 pr-0">
              <div class="container-fluid bg_atlas_primary" style="height: 40px; width: 2px; "></div>
            </div>

            <div class="col">
              <h1 style="font-size: 25px;">Recently Approved</h1>
            </div>
          </div>
          <!--  Cards for recently approved       -->
          <div class=" row d-flex mt-3">
            <div class="rapprove" style="max-height: 170px; overflow-x: auto;">
              <div class="row flex-nowrap">
                <div class="col">
                  <div class="card bg_atlas_background text_color"  style="width: 300px; height: 130px; margin-right: 2px; border-radius: 10px;">
                    <div class="card-body">
                      <h5 class="card-title text_color fw-bold " style="font-size: 22px;" >The impact of Covid-19</h5>
                      <p class="card-text  text_color"  style="font-size: 16px;">Authors: Marielle Zabala, Ryan Jay Acosta, Joricel Roldan</p>

                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card bg_atlas_background text_color" style="width: 300px; height: 130px; margin-right: 2px; border-radius: 10px; ">
                    <div class="card-body">
                      <h5 class="card-title text_color fw-bold " style="font-size: 22px;" >The impact of Covid-19</h5>
                      <p class="card-text  text_color"  style="font-size: 16px;">Authors: Marielle Zabala, Ryan Jay Acosta, Joricel Roldan</p>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card bg_atlas_background text_color" style="width: 300px; height: 130px; margin-right: 2px; border-radius: 10px;">
                    <div class="card-body">
                      <h5 class="card-title text_color fw-bold " style="font-size: 22px;" >The impact of Covid-19</h5>
                      <p class="card-text  text_color"  style="font-size: 16px;">Authors: Marielle Zabala, Ryan Jay Acosta, Joricel Roldan</p>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card bg_atlas_background text_color" style="width: 300px; height: 130px; margin-right: 2px; border-radius: 10px;">
                    <div class="card-body">
                      <h5 class="card-title text_color fw-bold " style="font-size: 22px;" >The impact of Covid-19</h5>
                      <p class="card-text  text_color"  style="font-size: 16px;">Authors: Marielle Zabala, Ryan Jay Acosta, Joricel Roldan</p>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card bg_atlas_background text_color" style="width: 300px; height: 130px; margin-right: 2px; border-radius: 10px;">
                    <div class="card-body">
                      <h5 class="card-title text_color fw-bold " style="font-size: 22px;" >The impact of Covid-19</h5>
                      <p class="card-text  text_color"  style="font-size: 16px;">Authors: Marielle Zabala, Ryan Jay Acosta, Joricel Roldan</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  end of Cards for recently approved -->
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
